@define-color accent darker(lightblue);

@define-color error mix(indianred, @accent, 0.25);
@define-color warning mix(lightsalmon, @accent, 0.25);

@define-color good mediumspringgreen;
@define-color medium lightsalmon;
@define-color bad indianred;

* {
    box-shadow: none;
}

row {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    outline: none;
}

row:nth-child(even) {
    background-color: alpha(mix(@accent, #888, 0.5), 0.1);
}

row.activatable:not(:selected):hover {
    background: alpha(mix(@accent, #bbb, 0.4), 0.2);
}

row.activatable:not(:selected):nth-child(even):hover {
    background: alpha(mix(@accent, #bbb, 0.3), 0.2);
}

row.activatable:not(:selected):active {
    background: alpha(mix(@accent, #bbb, 0.4), 0.3);
}

row.activatable:not(:selected):nth-child(even):active {
    background: alpha(mix(@accent, #bbb, 0.3), 0.3);
}

entry, button, textview, textview text {
    border-radius: 5px;
    min-height: 32px;
    min-width: 28px;
    margin: 2px;
    border: solid 2px alpha(mix(@accent, #888, 0.6), 0.6);
    background: none;
}

entry.smaller, button.smaller, textview.smaller, textview.smaller text {
    min-height: 24px;
    min-width: 24px;
}

button:disabled {
    border: none;
    background: #888;
    color: #fff;
    opacity: 0.4;
}
button:disabled * {
    color: #fff;
}

button.suggested-action:disabled {
    border: none;
    background: mix(@good, #222, 0.2);
    color: #222;
    opacity: 0.4;
}
button.suggested-action:disabled * {
    color: #222;
}

button.suggested-action {
    background: mix(@good, #222, 0.2);
    color: #222;
}
button.suggested-action * {
    color: #222;
}

button.suggested-action:hover {
    background: @good;
    color: #222;
}

button.suggested-action:active {
    background: mix(@good, #fff, 0.2);
    color: #222;
}

button.destructive-action {
    background: mix(@bad, #222, 0.2);
    color: #fff;
}
button.destructive-action * {
    color: #fff;
}

button.destructive-action:hover {
    background: @bad;
    color: #fff;
}

button.destructive-action:active {
    background: mix(@bad, #fff, 0.2);
    color: #fff;
}

entry:hover, button:hover {
    background: alpha(mix(@accent, #bbb, 0.6), 0.1);
}

entry:focus, button:active {
    background: alpha(mix(@accent, #bbb, 0.6), 0.2);
}

entry:focus {
    border-color: mix(@accent, #999, 0.7);
}

*:selected, selection, row:nth-child(even):selected {
    background: alpha(mix(@accent, #bbb, 0.6), 0.8);
    color: white;
}

entry progress {
    border-radius: 0px;
    border-bottom-left-radius: 2px;
    background: none;
    margin-bottom: 0px;
    border-bottom: solid white 2px;
    transition: border-bottom-width 0.1s ease;
}
entry:focus progress {
    border-bottom-width: 4px;
}
entry.good progress {
    border-bottom-color: @good;
}
entry.medium progress {
    border-bottom-color: @medium;
}
entry.bad progress {
    border-bottom-color: @bad;
}

entry.error {
    background: alpha(mix(@error, #888, 0.2), 0.7);
    color: white;
}
entry.error * {
    color: white;
}
entry.error:focus {
    background: alpha(mix(@error, #666, 0.15), 0.85);
    border-color: mix(@error, #fff, 0.2);
}
entry.error:focus {
    background: alpha(mix(@error, #666, 0.15), 0.85);
    border-color: mix(@error, #fff, 0.2);
}
entry.error selection {
    background: white;
    color: mix(@error, #888, 0.2);
}

headerbar {
    background: #ddd;
    color: #222;
    padding: 0px 2px;
    border: none;
    outline: none;
}

headerbar button {
    background: none;
    color: #222;
    border: solid 2px alpha(black, 0.1);
    margin: 4px 2px;
}

headerbar button:not(.image-button) {
    padding-left: 8px;
    padding-right: 8px;
}

headerbar button:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #222;
}

headerbar button:active {
    background: rgba(0, 0, 0, 0.2);
    color: #111;
}

window {
    border-radius: 0;
    outline: none;
    border:none;
}

infobar box {
    padding: 0px 2px;
}

infobar.warning {
    background: alpha(@warning, 0.8);
    color: #222;
}

infobar.error {
    background: alpha(@error, 0.9);
    color: #222;
}
infobar * {
    background: none;
    color: #222;
    border: none;
    outline: none;
}
infobar button {
    padding: 0px;
    min-height: 36px;
    min-width: 36px;
    margin: 0px;
}
infobar button:hover {
    background: rgba(255, 255, 255, 0.375);
}
infobar button:active {
    background: rgba(255, 255, 255, 0.75);
}

scale {
    margin-left: 2px;
}

scale trough {
    margin-left: 8px;
    min-height: 32px;
    border-radius: 4px;
    background: none;
    border: none;
    outline: none;
}
scale fill {
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1px solid #888;
    outline: none;
}
scale slider {
    background-image: none;
    border-radius: 5px;
    background-color: @accent;
    min-width: 12px;
    min-height: 12px;
    margin: -8px;
    border: none;
    outline: none;
}
scale highlight {
    background-color: @accent;
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: none;
    outline: none;
}


combobox cellview {
    margin-right: 0px;
}
combobox>box>button {
    padding: 0px 8px;
}
combobox arrow {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
    background: none;
    margin: 0px;
    border: none;
    outline: none;
    box-shadow: none;
}


stackswitcher {
    background-color: rgba(128, 128, 128, 0.3);
    padding: 4px
}

stackswitcher button {
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: @accent;
}

stackswitcher button:not(:first-child):not(:last-child) {
    border-radius: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
}

stackswitcher button:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0px;
    border-left-width: 2px;
}

stackswitcher button:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
    border-right-width: 2px;
}

stackswitcher button:checked {
    background-color: @accent;
    border-color: @accent;
    color: #222;
}

spinbutton entry {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0;
}

spinbutton button {
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0;
    padding: 2px;
}

spinbutton button:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0;
}
